
handdata/00.bmp
handdata/01.bmp
handdata/02.bmp
handdata/03.bmp
handdata/04.bmp
handdata/05.bmp
handdata/06.bmp
handdata/07.bmp
handdata/08.bmp
handdata/09.bmp
handdata/10.bmp
handdata/11.bmp
handdata/12.bmp
handdata/13.bmp
handdata/14.bmp
handdata/15.bmp
handdata/16.bmp
handdata/17.bmp
handdata/18.bmp
handdata/19.bmp
handdata/20.bmp
handdata/21.bmp
handdata/22.bmp
handdata/23.bmp
handdata/24.bmp
handdata/25.bmp
handdata/26.bmp
handdata/27.bmp
handdata/28.bmp
handdata/29.bmp
handdata/30.bmp
handdata/31.bmp
handdata/32.bmp
handdata/33.bmp
handdata/34.bmp
handdata/35.bmp
handdata/36.bmp
handdata/37.bmp
handdata/38.bmp
handdata/39.bmp
handdata/40.bmp
handdata/41.bmp
